<div class="info">
  <!-- What will be viewed for Clinic Page -->
  <% if (active == "Clinic") { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.profile %>
  </h3>
  <h3>
    <i class="fa fa-globe w3-xlarge" style="margin-right: 10px;"></i>
    <a href="<%= data.website %>"> <%= data.website %></a>
  </h3>
  <h3>
    <i class="fa fa-envelope w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.email %>
  </h3>
  <h3>
    <i class="fa fa-phone w3-xlarge" style="margin-right: 10px;"></i> <%=
    data.numbers %>
  </h3>
  <h3>
    <i class="fa fa-map-marker w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.location %>
  </h3>
  <h3>
    <i class="fa fa-tags w3-xlarge" style="margin-right: 10px;"></i> <%=
    data.services %>
  </h3>
  <!-- What will be viewed for Doctor Page -->
  <% } if (active == "Doctor") { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.profile %>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.email %>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.numbers %>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.office %>>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.speciality %>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.experience %> years
  </h3>
  <!-- What will be viewed for Appointment Page -->
  <% } if (active == "Appointment") { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.date %>
  </h3>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.time %>
  </h3>
  <!-- If the appointment is reviewed you can see the review and rating -->
  <% if (data.reviewed) { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.appClinic['name'] %>
  </h3>
  <% for(i=0; i < data.clinic_rating; i++) { if (data.clinic_rating > i+0.75) %>
  <i class="fa fa-star checked w3-xlarge"></i>
  <% if (data.clinic_rating <= i+0.75 && data.clinic_rating >= i+0.25) %>
  <i class="fa fa-star-half checked w3-xlarge"></i><% } %>
  <span> <%= data.clinic_rating %> </span>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= "Dr." + data.appDoctor['fname'] + " " + data.appDoctor['lname'] %>
  </h3>
  <% for(i=0; i < data.doctor_rating; i++) { if (data.doctor_rating > i+0.75) %>
  <i class="fa fa-star checked w3-xlarge"></i>
  <% if (data.doctor_rating <= i+0.75 && data.doctor_rating >= i+0.25) %>
  <i class="fa fa-star-half checked w3-xlarge"></i><% } %>
  <span> <%= data.doctor_rating %> </span>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.review %>
  </h3>
  <% } } %>
</div>
