<div class="info">
  <!-- What will be viewed for Clinic Page -->
  <% if (active == "Clinic") { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.profile %>
  </h3>
  <h3>
    <i class="fa fa-globe w3-xlarge" style="margin-right: 10px;"></i>
    <a href="<%= data.website %>"> <%= data.website %></a>
  </h3>
  <h3>
    <i class="fa fa-envelope w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.email %>
  </h3>
  <h3>
    <i class="fa fa-phone w3-xlarge" style="margin-right: 10px;"></i> <%=
    data.numbers %>
  </h3>
  <h3>
    <i class="fa fa-map-marker w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.location %>
  </h3>
  <h3>
    <i class="fa fa-tags w3-xlarge" style="margin-right: 10px;"></i> <%=
    data.services %>
  </h3>
  <!-- What will be viewed for Doctor Page -->
  <% } if (active == "Doctor") { %>
  <h3>
    <i class="fa fa-lightbulb-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.profile %>
  </h3>
  <h3>
    <i class="fa fa-envelope w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.email %>
  </h3>
  <h3>
    <i class="fa fa-phone w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.numbers %>
  </h3>
  <h3>
    <i class="fa fa-hospital-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.office %>>
  </h3>
  <h3>
    <i class="fa fa-handshake-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.speciality %>
  </h3>
  <h3>
    <i class="fa fa-certificate w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.experience %> years
  </h3>
  <!-- What will be viewed for Appointment Page -->
  <% } if (active == "Appointment") { %>
  <h3>
    <i class="fa fa-calendar w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.date %>
  </h3>
  <h3>
    <i class="fa fa-clock-o w3-xlarge" style="margin-right: 10px;"></i>
    <%= data.time %>
  </h3>
  <% } %>
</div>
