<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <% if (active == "clinics") { %>
      <li class="active">
        <a> <i class="fa fa-plus-square"></i> Clinics </a>
      </li>
      <li>
        <a href="/doctors"> <i class="fa fa-user-md"></i> Doctors </a>
      </li>
      <li>
        <a href="/appointments"><i class="fa fa-calendar"></i> Appointments</a>
      </li>
      <% } %> <% if (active == "doctors") { %>
      <li>
        <a href="/clinics"> <i class="fa fa-plus-square"></i> Clinics </a>
      </li>
      <li class="active">
        <a> <i class="fa fa-user-md"></i> Doctors </a>
      </li>
      <li>
        <a href="/appointments"><i class="fa fa-calendar"></i> Appointments</a>
      </li>
      <% } %> <% if (active == "appointments") { %>
      <li>
        <a href="/clinics"> <i class="fa fa-plus-square"></i> Clinics </a>
      </li>
      <li>
        <a href="/doctors"> <i class="fa fa-user-md"></i> Doctors </a>
      </li>
      <li class="active">
        <a> <i class="fa fa-calendar"></i> Appointments </a>
      </li>
      <% } %>
    </ul>
  </nav>
  <div id="content">
    <div class="jumbotron">
      <div class="input-group mb-3">
        <input
          type="text"
          id="searchinp"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Search"
        />
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <% if (active == "clinics") { %>
          <th scope="col" style="width:35%">Name</th>
          <th scope="col" style="width:25%">Services</th>
          <th scope="col" style="width:22%">Location</th>
          <th scope="col" style="width:18%">Rating</th>
          <% } %> <% if (active == "doctors") { %>
          <th scope="col" style="width:32%">Name</th>
          <th scope="col" style="width:30%">Speciality</th>
          <th scope="col" style="width:20%">Experience</th>
          <th scope="col" style="width:18%">Rating</th>
          <% } %> <% if (active == "appointments") { %>
          <th scope="col" style="width:30%">Doctor</th>
          <th scope="col" style="width:30%">Clinic</th>
          <th scope="col" style="width:30%">Date</th>
          <th scope="col" style="width:30%">Time</th>
          <th scope="col" style="width:40%">Status</th>
          <% } %>
        </thead>
        <tbody id="tableContent">
          <% if (active == "clinics") { %> <% data.forEach(d => { %>
          <tr>
            <td><a href="/clinics/<%= d._id %>"> <%= d.name %> </a></td>
            <td><a href="/clinics/<%= d._id %>"> <%= d.services %> </a></td>
            <td><a href="/clinics/<%= d._id %>"> <%= d.location %> </a></td>
            <td>
              <a href="/clinics/<%= d._id %>">
                <% if (d.rating <= 0) { %> There is no rating yet <% } %> <% if
                (d.rating > 0) { %> <% for(i=0; i < d.rating; i++) { %> <% if
                (d.rating > i+0.75) { %>
                <i class="fa fa-star checked w3-xlarge"></i>
                <% } if (d.rating <= i+0.75 && d.rating >= i+0.25) { %>
                <i class="fa fa-star-half checked w3-xlarge"></i> <% } } %>
                <span> <%= d.rating %> </span>
                <% } %>
              </a>
            </td>
          </tr>
          <% }) } if (active == "doctors") { %> <% data.forEach(d => { %>
          <tr>
            <td>
              <a href="/doctors/<%= d._id %>">
                Dr. <%= d.fname %> <%= d.lname %>
              </a>
            </td>
            <td><a href="/doctors/<%= d._id %>"> <%= d.speciality %> </a></td>
            <td>
              <a href="/doctors/<%= d._id %>">
                <%= d.experience %> years
              </a>
            </td>
            <td>
              <a href="/doctors/<%= d._id %>">
                <% if (d.rating <= 0) { %> There is no rating. <% } %> <% if
                (d.rating > 0) { %> <% for(i=0; i < d.rating; i++) { %> <% if
                (d.rating > i+0.75) { %>
                <i class="fa fa-star checked w3-xlarge"></i>
                <% } if (d.rating <= i+0.75 && d.rating >= i+0.25) { %>
                <i class="fa fa-star-half checked w3-xlarge"></i> <% } } %>
                <span> <%= d.rating %> </span>
                <% } %>
              </a>
            </td>
          </tr>
          <% }) } if (active == "appointments") { %> <% data.forEach(d => { %>
          <tr>
            <td>
              <a href="/appointments/<%= d.app._id %>"> <%= d.doctor %> </a>
            </td>
            <td>
              <a href="/appointments/<%= d.app._id %>"> <%= d.clinic %> </a>
            </td>
            <td>
              <a href="/appointments/<%= d.app._id %>"> <%= d.app.date %> </a>
            </td>
            <td>
              <a href="/appointments/<%= d.app._id %>"> <%= d.app.time %> </a>
            </td>
            <td>
              <a href="/appointments/<%= d.app._id %>"> <%= d.app.status %> </a>
            </td>
          </tr>
          <% }) } %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('./partials/foot.ejs') %>
