<%- include("./partials/head.ejs") %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron text-center">
      <div>
        <img src="/img/<%= data.type %>.png" width="250" height="250" />
      </div>
      <div style="font-size: xx-large;">
        Hello, <%= data.fname + " " + data.lname %>
      </div>
      <div class="info">
        <h3>
          <i
            class="fa fa-envelope w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= data.email %>
        </h3>
        <h3>
          <i
            class="fa fa-phone w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= data.numbers %>
        </h3>
        <h3>
          <i
            class="fa fa-calendar w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= "Registered at " + data.regDate%>
        </h3>
        <button
          class="btn bg-dark btn-lg"
          style="color: white;"
          data-toggle="modal"
          data-target="#editProfile"
        >
          <i
            class="fa fa-edit w3-xlarge"
            style="color: white; margin-right: 10px;"
          ></i>
          Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Profile -->
<%- include("./partials/edit_profile.ejs") %>
<!-- Page footer -->
<%- include("./partials/foot.ejs") %>
