<%- include("./partials/head.ejs") %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron text-center">
      <div>
        <img src="/img/<%= data.type %>.png" width="250" height="250" />
      </div>
      <div style="font-size: xx-large;">
        Hello, <%= data.fname + " " + data.lname %>
      </div>
      <div class="info">
        <h3>
          <i
            class="fa fa-envelope w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= data.email %>
        </h3>
        <h3>
          <i
            class="fa fa-phone w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= data.numbers %>
        </h3>
        <h3>
          <i
            class="fa fa-calendar w3-xlarge"
            style="color: black; margin-right: 10px;"
          ></i
          ><%= "Registered at " + data.regDate%>
        </h3>
        <button
          class="btn bg-dark btn-lg"
          style="color: white;"
          data-toggle="modal"
          data-target="#editProfile"
        >
          <i
            class="fa fa-edit w3-xlarge"
            style="color: white; margin-right: 10px;"
          ></i>
          Edit Profile
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Edit Profile -->
<div
  class="modal fade"
  id="editProfile"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editProfileLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/users/profile?_method=PUT" method="POST">
        <div class="modal-header">
          <h5 class="modal-title" id="editProfileLabel">
            Edit Profile
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("./partials/foot.ejs") %>
