<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <% if (active == "pending") { %>
      <li class="active">
        <a> <i class="fa fa-calendar"></i> Pending Appointments </a>
      </li>
      <li>
        <a href="/appointments/confirmed">
          <i class="fa fa-calendar-check-o"></i> Confirmed Appointments
        </a>
      </li>
      <% } if (active == "confirmed") { %>
      <li>
        <a href="/appointments">
          <i class="fa fa-calendar"></i> Pending Appointments</a
        >
      </li>
      <li class="active">
        <a> <i class="fa fa-calendar-check-o"></i> Confirmed Appointments</a>
      </li>
      <% } %>
    </ul>
  </nav>
  <div id="content">
    <div class="jumbotron">
      <div class="input-group mb-3">
        <input
          type="text"
          id="searchinp"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
          placeholder="Search"
        />
      </div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <th scope="col">Patient</th>
          <th scope="col">Doctor</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <% if (active == "pending") { %>
          <th scope="col">Action</th>
          <% } if (active == "confirmed") { %>
          <th scope="col">Status</th>
          <% } %>
        </thead>
        <tbody id="tableContent">
          <% data.forEach(d => { %>
          <tr>
            <td><a> <%= d.patient %> </a></td>
            <td><a> <%= d.doctor %> </a></td>
            <td><a> <%= d.app.date %> </a></td>
            <td><a> <%= d.app.time %> </a></td>
            <% if (active == "confirmed") { %>
            <td>
              <% if (d.app.status != "Confirmed") { %> <%= d.app.status %>
              <!-- If the appointment confirmed you can complete it-->
              <% } if (d.app.status == "Confirmed") { %>
              <form
                action="/appointments/<%= d.app._id %>?_method=PUT"
                method="POST"
              >
                <button
                  class="btn"
                  type="submit"
                  style="background: transparent;"
                >
                  Confirmed <i class="fa fa-check-square-o w3-xlarge"></i>
                </button>
              </form>
              <% } %>
            </td>
            <% } if (active == "pending") { %>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <form
                  action="/appointments/<%= d.app._id %>?_method=PUT"
                  method="POST"
                >
                  <button
                    class="btn"
                    type="submit"
                    style="background: transparent;"
                  >
                    <i
                      class="fa fa-check-circle w3-xlarge"
                      style="color: green;"
                    ></i>
                  </button>
                </form>
                <form
                  action="/appointments/<%= d.app._id %>?_method=DELETE"
                  method="POST"
                >
                  <button
                    class="btn"
                    type="submit"
                    style="background: transparent;"
                  >
                    <i
                      class="fa fa-minus-circle w3-xlarge"
                      style="color: red;"
                    ></i>
                  </button>
                </form>
              </div>
            </td>
            <% } %>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('./partials/foot.ejs') %>
