<!-- Header for the page -->
<%- include('./partials/head.ejs') %>
<div class="wrapper">
  <div id="content">
    <div class="jumbotron">
      <!-- Display the Name of Clinic, Doctor or Doctor and Clinic for the appointment-->
      <div class="title">
        <% if (active == "Clinic") { %>
        <h1 class="display-3">
          <i class="fa fa-ambulance w3-xxxlarge"></i> <%= data.name %>
        </h1>
        <% } if (active == "Doctor") { %>
        <h1 class="display-3">
          <i class="fa fa-stethoscope w3-xxxlarge"></i>
          Dr. <%= data.fname %> <%= data.lname %>
        </h1>
        <% } if (active == "Appointment") { %>
        <h1 class="display-3">
          <%= "Dr." + addData.d_fname + " " + addData.d_lname + " at " +
          addData.c_name %>
        </h1>
        <!-- Display the rating of Doctor or Clinic -->
        <% } if (active != "Appointment") { if (data.rating <= 0) { %> There is
        no rating yet <% } if (data.rating > 0) { for(i=0; i < data.rating; i++)
        { if (data.rating > i+0.75) %>
        <i class="fa fa-star checked w3-xlarge"></i> <% if (data.rating <=
        i+0.75 && data.rating >= i+0.25) %>
        <i class="fa fa-star-half checked w3-xlarge"></i> <% } %>
        <span> <%= data.rating %> </span>
        <% } } %>
      </div>
      <!-- To show the info -->
      <%- include('./partials/info.ejs') %>
      <div class="container">
        <% if (active == "Clinic") { %>
        <!-- If there are doctors show them -->
        <div class="row">
          <% if (user == "manager") { %>
          <div class="col">
            <button class="btn bg-dark btn-block btn-lg">
              <a
                class="links"
                href="/clinics/<%= data._id %>/edit"
                style="color: white;"
              >
                <i class="fa fa-edit w3-xlarge"></i>
                Edit Clinic Info
              </a>
            </button>
          </div>
          <% if (data.status != "active") { %>
          <div class="col">
            <button class="btn bg-dark btn-block btn-lg">
              <a
                class="links"
                href="/clinics/<%= data._id %>/receptionist/new"
                style="color: white;"
              >
                <i class="fa fa-user-plus w3-xlarge"></i>
                Add Clinic Receptionist
              </a>
            </button>
          </div>
          <% } } %>
          <div class="col">
            <button
              class="btn bg-dark btn-block btn-lg"
              data-toggle="modal"
              data-target="#dctlst"
            >
              <a class="links" href="#" style="color: white;">
                <i class="fa fa-user-md w3-xlarge"></i>
                Show Doctors List
              </a>
            </button>
          </div>
        </div>
        <% } if (active == "Doctor") { if (user == "patient") { %>
        <button
          class="btn bg-dark btn-block btn-lg text-white"
          data-toggle="modal"
          data-target="#newApp"
        >
          <a class="links" href="#" style="color: white;">
            <i class="fa fa-calendar w3-xlarge"></i>
            Create Appointment
          </a>
        </button>
        <% } } if (active == "Appointment") { if (data.status == "Confirmed" ) {
        %>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#rateApp"
          style="color: white;"
        >
          <i class="fa fa-check-circle w3-xlarge"></i>
          Complete Appointment
        </button>
        <% } } %>
      </div>
    </div>
  </div>
</div>
<!-- Doctors List -->
<%- include('./partials/doctor_list.ejs') %>
<!-- Adding New Appointment -->
<%- include("./partials/new_appointment.ejs") %>
<!-- For Rating The Appointments -->
<%- include('./partials/rate.ejs') %>
<!-- The Footer -->
<%- include('./partials/foot.ejs') %>
