<!DOCTYPE html>
<html>

<head>
    <title>VisitInfo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/newVisit.css">

</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="navbar-header  d-flex align-items-center">
            <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
            <h1 class="navbar-text">Visit Details</h1>
        </div>
    </nav>
    <form method="GET">
        <label>
            <p class="label-txt">Host Name</p>
            <input value='<%=visit.host%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visitor Name</p>
            <input value='<%=visit.visitor%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Destination</p>
            <input value='<%=visit.destination%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visit Date</p>
            <input value='<%=visit.date%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Visit Time</p>
            <input value='<%=visit.time%>' type="text" readonly class="input timepicker">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car maker</p>
            <input value='<%=visit.maker%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car model</p>
            <input value='<%=visit.model%>' type="text" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Model year</p>
            <input value='<%=visit.year%>' type="number" readonly class="input">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Car plate number</p>
            <input value='<%=visit.plate%>' type="text" readonly class="input" maxlength="7">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <label>
            <p class="label-txt">Status</p>
            <input value='<%=visit.checkedout=="YES"?"Outside campus":"Inside Campus"%>' type="text" readonly
                class="input" maxlength="7">
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>
        <% if (type == 'security') { %>
            <button type="submit" formaction="/visits/<%=visit._id%>/switch?_method=PUT" formmethod="POST">Switch status</button>
        <% } else { %>
            <button type="submit" formaction="/visits/<%=visit._id%>/edit" formmethod="GET">Edit</button>
            <button type="submit" formaction="/visits/<%=visit._id%>/?_method=DELETE" formmethod="POST">Delete</button>
        <% } %>
    </form>

</body>